@import "base.css";

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}

a:link {
    text-decoration: none;
    color: #494c51;
}

a:visited {
    text-decoration: none;
    color: #494c51;
}

ul {
    list-style:none;
    margin:0;
    padding:0;
    overflow: auto;
}

#main_header:after {
    display: block;
    clear: both;
    visibility: hidden; height: 0; content:"."; font-size: 0;
}

li {
    margin: 0;
    padding: 0;
    float: left;
}
html, body {
    /*최상위크기지정*/
    height: 100%;
}

#wrapper {
    /*크기*/
    width: 960px;
    height: auto;
    /*위치*/
    margin: 0 auto;

    /*border: 1px solid #000;*/
}

#main_header {
    position: absolute;
    /*크기*/
    width: 100%;
    height: auto;
    /*위치*/
    margin: 0 -25%;

    border: 1px solid black;
}

#main_header #header_upper {
    /*위치*/
    position: absolute;
    margin: 0 25%;
    /*크기*/
    width: 960px;
    height: auto;
    overflow: hidden;
}

#main_header #header_upper #logo {
    position: relative;
}

#main_header #header_upper #logo #logo_img {
    height: 43px;
    width: 335px;
}

#main_header #header_upper #member_nav {
    /*위치*/
    position: relative;
    float: right;
}

#main_header #header_upper #member_nav ul li {
    font-size: 11px;
    font-weight: bold;
}

#main_header #header_upper #member_nav ul li a {
    color: #858688;
}

#main_header #header_upper #member_nav ul li:nth-child(2){
    margin-left: 25px;
}

#main_header #header_upper #main_menu_nav {
    /*위치*/
    position: relative;
    float: right;
    margin-right: -98px;
    top: 18px;
}

#main_header #header_upper #main_menu_nav ul li {
    font-size: 20px;
    font-weight: bold;
}

#main_header #header_upper #main_menu_nav ul li:nth-child(n+1) {
    margin-left: 30px;
}

#main_header #search {
    /*위치*/
    position: absolute;
    margin-left: 0;
    margin-top: 45px;
    /*크기*/
    width: 100%;
    height: auto;
    overflow: auto;
    /*배경*/
    background-color: #494C51;
}

#main_header #search #search_text_field {
    /*위치*/
    float: left;
    margin-left: 25%;
    margin-top: 4px;
}

#main_header #search #search_text_field #input_text {
    /*위치*/
    position: relative;
    margin: 8px 0;
    /*크기*/
    width: 768px;
    height: 50px;
    /*모양*/
    border: none;
    border-radius: 6px;
    /*글자*/
    font-size: 17px;
    font-weight: bold;
}

#main_header #search #sch_smit {
    /*위치*/
    position: relative;
    margin: 8px 8px;
    /*크기*/
    width: 90px;
    height: 52px;
    /*모양*/
    border-radius: 6px;
    background-color: #f66d5b;
    /*글자*/
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
}

#main_header #search #search_nav {
    /*위치*/
    position: relative;
    margin: 10px auto;
}

#main_header #search #search_nav li {
    float: none;
}

#main_header #search #search_nav li a {
    font-weight: bold;
    color: #ffffff;
}

#content {
    /*위치*/
    position: absolute;
    margin: 120px 0;
    padding: 10px 0;
    /*크기*/
    width: 960px;
    height: auto;
    overflow: auto;
}

#content #slider { overflow: hidden; margin-bottom: 10px;}

#content #slider figure img { width: 20%; float: left; }

#content #slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    top:0;
    left: 0;
    text-align: left;
    font-size: 0;
    -webkit-animation: 20s slidy ease-in-out infinite;
    animation: 20s slidy ease-in-out infinite;
}

#content .component_content {
    /*위치*/
    position: relative;
    float: none;
    /*크기*/
    width: inherit;
    height: auto;
    overflow: auto;
    /*간격*/
    margin-bottom: 15px;
}

#content .component_content .content_header {
    overflow: auto;
}

#content .component_content .content_header p {
    float: left;
    font-size: 20px;
    font-weight: bold;
    color: #4F5257;
}

#content .component_content .content_header a img {
    /*크기*/
    width: 25px;
    height: 25px;
}

.layout_2by3 {
    width: inherit;
    height: auto;
    overflow: auto;
}

.layout_2by3 .layout_2by3_child:first-child {
    /*위치*/
    margin-left: -94px;
}

.layout_2by3 .layout_2by3_child {
    /*크기*/
    width: 310px;
    height: 170px;
    /*위치*/
    float: left;
    /*간격*/
    margin-right: 15px;
    margin-bottom: 10px;
}

.layout_2by3 .layout_2by3_child:nth-child(3n){
    /*간격*/
    margin-right: 0;
}

.layout_2by3 .layout_2by3_child:nth-child(n+3){
    /*간격*/
    margin-bottom: 0;
}

.layout_2by3 .layout_2by3_child a {
    /*크기*/
    width: inherit;
    height: inherit;
}

.layout_2by3 .layout_2by3_child a img {
    /*크기*/
    width: inherit;
    height:inherit;
}

#content #tip {
    /*위치*/
    position: relative;
    float: none;
    /*크기*/
    width: inherit;
    height: 158px;
    /*간격*/
    margin-bottom: 10px;
}

#content #tip ul {
    position: relative;
}

#content #tip ul li:first-child {
    /*정렬*/
    float: left;
    /*간격*/
    margin-right: 10px;
}

#content #tip ul li a img {
    /*크기*/
    width: 475px;
    height: 158px;
}

#content  #course_recommend {
    /*위치*/
    position: relative;
    /*크기*/
    width: inherit;
    height: auto;
}

#content #course_recommend .layout_1by3 {
    /*크기*/
    width: inherit;
    height: 156px;
    overflow: auto;
}

#content #course_recommend .layout_1by3 .layout_1by3_child {
    /*크기*/
    width: 310px;
    height: 156px;

    float: left;
}

#content #course_recommend .layout_1by3 .layout_1by3_child:first-child {
    /*위치*/
    margin-left: -75px;
    /*정렬*/
    float: left;
}

#content #course_recommend .layout_1by3 .layout_1by3_child:nth-child(2) {
    margin: auto 14px;
}

#content #course_recommend .layout_1by3 .layout_1by3_child a {
    /*크기*/
    width: inherit;
    height: inherit;
}

#content #course_recommend .layout_1by3 .layout_1by3_child a img {
    /*크기*/
    width: inherit;
    height: inherit;
}

